<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocalización</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Coordenadas</strong>
    <p>Latitud: {{latitude}}</p>
    <p>Longitud: {{longitude}}</p>
    
    <ion-button expand="block" (click)="navigateLocation()">Navegar por Google Maps
      <ion-icon name="navigate"></ion-icon>
    </ion-button>
  </div>
</ion-content>
